.DS_Store
.ipynb_checkpoints/
/__pycache__/
*/*/*/__pycache__
*/*/__pycache__
*/__pycache__
# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.vscode
results*/
data/*
paper/networks/
exps/*
config/*
/test/
.snakemake/
analyses/*
logs/*
workflow/test/*
timing/*
sbatch/*

